


<!-- <ul >
    <li > -->

        <div style="padding-top: 20px;">

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search</mat-label>
                <input type="text"
                       placeholder="Start typing blog title"
                       aria-label="Search"
                       matInput
                       [matAutocomplete]="auto">
                <mat-autocomplete  #auto="matAutocomplete">
                  <mat-option *ngFor="let blog of filteredBlogs" [value]="blog" | async>
                    {{blog.title}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> -->
            

            <input type="text" placeholder="Search" name="search" id="search" [(ngModel)]="search" (keyup)="searchBlogs()">

            <div *ngIf="filteredBlogs.length>0">

              
            <mat-card class="card"
            *ngFor="let blog of filteredBlogs; let i = index"
            >

            <!-- <mat-grid-list cols="3" rowHeight="2:1"
            >

                <mat-grid-tile
                *ngFor="let blog of filteredBlogs; let i = index"
                > -->
                  <!-- <mat-card class="card"> -->
                    <mat-card-title>{{blog.title}}</mat-card-title>
                    <mat-card-subtitle>{{blog.createdBy | appender:"Creator: "}}</mat-card-subtitle>
                    <mat-card-content>
                      <!-- <p>Content:</p> -->
                      <p [ngStyle]="{'max-height': blog.height}"
                      >{{blog.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button
                      (click)="seeAction(i)"
                      >{{blog.action}}</button>
                      <button mat-button
                      (click)="edit(i)"
                      *ngIf="username === blog.createdBy"
                      >Edit</button>
                    </mat-card-actions>
              </mat-card>

            </div>

            <h4 
            *ngIf=" filteredBlogs.length < 1" >
            No Blogs are availble for preview
          </h4>
                <!-- </mat-grid-tile>
              
            </mat-grid-list> -->
        </div>
    <!-- </li>
</ul> -->
